{% extends "AppHospital/padre.html" %}

{% block titulo %}
Formulario - Agregar medico-interno
{% endblock %}

{% block contenido %}
    <!--Aqui va lo que cambia, y lo asociado a esta vista-->
    <section class="features-icons bg-light">  
        <div class="container">
            <div class="row">
                <div class="row align-items-start">
                    <div class="col">
                        <h2>Lista de medico internos registrados:</h2>
                        {% for medico_interno in mis_medico_internos %}
                            <p>{{medico_interno}}  {{medico_interno.email}}</p>
                        {% endfor %}
                            
                        {% if formulario_medico_interno.errors %}
                        <p style="color: red;">Los datos son erroneos. Por favor reviselos</p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <form action="{% url 'medico-interno-formulario' %}" method="post">
                            {% csrf_token %}
                            <table>
                                {{ formulario_medico_interno.as_table}}
                            </table>
                            <br>
                            <input class=" btn btn-success " type="submit" value="Enviar">
                        </form> 
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
     </section>

{% endblock %}