{% extends "AppHospital/padre.html" %}

{% block titulo %}
Formulario - Agregar Paciente
{% endblock %}

{% block contenido %}
    <!--Aqui va lo que cambia, y lo asociado a esta vista-->
    <section class="features-icons bg-light">  
        <div class="container">
            <div class="row">
                <div class="row align-items-start">
                    <div class="col">
                        <h2>Lista de pacientes registrados:</h2>
                        {% for paciente in mis_pacientes %}
                            <p>{{paciente}}: {{paciente.email}}</p>
                        {% endfor %}
                            
                        {% if formulario_paciente.errors %}
                        <p style="color: red;">Los datos son erroneos. Por favor reviselos</p>
                        {% endif %}
                    </div>
                    <div class="col">
                        <form action="{% url 'paciente-formulario' %}" method="post">
                            {% csrf_token %}
                            <table>
                                {{ formulario_paciente.as_table}}
                            </table>
                            <br>
                            <input class=" btn btn-success " type="submit" value="Enviar">
                        </form>
                        <br>
                        <button type="button" class="btn btn-primary"><a style="text-decoration:none; color: azure;" href="{% url 'busqueda-especialidad' %}">Buscar paciente</a></button>
                        
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
     </section>

{% endblock %}