{% extends "AppHospital/padre.html" %}}

{% block titulo %}
Medicos
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row mt-3">
        <div class="col-6">
                {% if medicos %}
            <h2>Los {{especialidad}}s que estan registrados son los siguientes:</h2>
             <ul>
                {% for medico in medicos %}
        
                <li>{{ medico.especialidad }}:{{ medico.nombre }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary"><a style="text-decoration:none; color: azure;" href="{% url 'busqueda-especialidad' %}">Volver a buscar medico</a></button>
        </div>
            
    {% else %}
        <p>No existen medicos con la especialidad {{especialidad}}</p>
    {% endif %}
    </div>
</div>

    
{% endblock %}